HTML CSS JSResult Skip Results Iframe
EDIT ON
/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
}

h1 {
  color: grey;
  position: center;
}

.home {
  width: 900px;
  height: 1000px;
  background-image: url(/images/blob.gif);
  background-repeat: no-repeat;
}

.homeButton {
  outline:white solid 0.5px;
  padding: 10px 25px;
  font-size: 20px;
  position:absolute;
  background: rgba:208, 208, 208;
  font-weight: bold;
  color: white;
  border: none;
  width: 200px;
  height: 100px;
  border-radius: 15px;
  left: 94px;
  top: 480px;
  text-decoration: none;
}

.homeButton:hover {
  background: rgba:208, 208, 208, 0.9;
}
