
/* Basic styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

canvas {
  width: 0%;
  height: 0%;
}

body {
  font-family: 'Inter', sans-serif;
  background:black;
  font-size: 16px;
}

h1 {
  line-height: 65px;
  font-size: 60px;
  letter-spacing: -3px;
  text-align: center;
 
  width: 327px;
  height: 185px;
  top: 255px;
}

.text-white {
  color: white;
}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/blob.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}


.homeButton { 
  margin-top: 50px;
  padding: 10px 40px;
  background: rgba(255, 255, 255, 0.6);
  color:rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  font-weight: bold;
  min-width: 100px;
  min-height: 55px;
  border-radius: 15px;
  text-decoration: none;
}

.homeButton:hover {
  background: rgba(82, 82, 82, 0.2);
  transition-duration: 0.8s;
}

.homeButton:active {
  background: rgba(82, 82, 82, 0.2);
  transition-duration: 0.8s;
}

/* Navigation Menu */
nav {
  width: 0%;
  height: 0%;
}

nav ul {
  position: fixed;
  top: 95%;
  right: 60%;
  max-width: 100%;
}

nav ul li {
display: inline;
list-style: none;
width: 100%;
}